{
    "plugins": [
        "universal-import",
        [
            "babel-plugin-root-import",
            {
                "rootPathSuffix": "src",
                "rootPathPrefix": "@"
            }
        ],
        "transform-export-extensions",
    ],
    "presets": [
        "react-app"
    ]
}
