{
    "plugins": [
        "babel-plugin-universal-import",
        [
            "babel-plugin-root-import",
            {
                "rootPathSuffix": "src",
                "rootPathPrefix": "@"
            }
        ]
    ],
    "presets": [
        "react-app"
    ]
}
