@import "bass";

* {
    border: none;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

html {
    font-size: 16px;
}

body {
    font-family: Source Sans Pro, sans-serif;
    color: #fff;
    background: #1e1e1e;
    font-size: 1rem;
    line-height: 1.85;
    -webkit-font-smoothing: antialiased;
}

img {
    max-width: 100%;
}

a {
    color: inherit;
}

.container {
    max-width: 1440px;
}

.title {
    font-family: Playfair Display, cursive;
}

.intro {
    height: 708px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    .navigation {
        ul {
            li {
                opacity: 0.7;
                margin-right: 1.8em;
                letter-spacing: -0.25px;
                a {
                    text-decoration: none;
                }
                &:last-of-type {
                    margin-right: 0;
                }
                &:hover {
                    opacity: 1;
                    cursor: pointer;
                }
            }
        }
    }
    .phone {
        letter-spacing: -0.25px;
        opacity: 0.7;
        font-weight: bold;
    }
    .overlay {
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        background: rgba(0,0,0,0.8);
    }
    .intro-content {
        z-index: 1;
        position: relative;
        max-width: 960px;
        height: 100%;
    }
    .name {
        font-size: 64px;
        line-height: 72px;
    }
    .about-text {
        font-size: 17px;
    }
}

.h100 {
    height: 100%;
}

.post-square {
    width: 360px;
    height: 360px;
}

.post-content {
    background: #fff;
    overflow: hidden;
}

.post-message {
    font-size: 20px;
    color: #1e1e1e;
    text-overflow: ellipsis;
    overflow: hidden;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    display: block;
    display: -webkit-box;
    max-width: 90%;
    line-height: 1.65;
}

.post-created {
    color: #727272;
}

.post-image {
    overflow: hidden;
    img {
        max-width: none;
    }
}

.description-text {
    font-size: 20px;
}

.event-title {
    font-size: 20px;
    font-weight: 400;
}

.event-description {
    color: #c3c3c3;
}

.event-time {
    color: #c4c4c4;
}

.event-fb-btn {
    background: #3b5998;
    border-radius: 50px;
    &:hover {
        color: #3b5998;
        background: #fff;
    }
}

.map {
    height: 600px;
    iframe {
        width: 100%;
        height: 100%;
        pointer-events: none;
    }
}

.contact {
    color: #1e1e1e;
    background: #fff;
    max-width: 960px;
    z-index: 10;
}

.address-one {
    font-size: 20px;
}

.address-title {
    font-size: 24px;
}

.address-phone {
    font-size: 36px;
}

.events {
    background: #333333;
}

.posts-title, .about-title, .events-title {
    font-size: 48px;
    @extend .title;
}

.twitter-icon {
    position: relative;
    top: 3px;
}

.instagram-icon {
    position: relative;
    top: 5px;
}

@media (max-width: 800px) {
    .navigation {
        margin-bottom: 1em;
        ul {
            flex-direction: column;
        }
    }
    .intro {
        height: auto;
        .name {
            font-size: 36px;
            line-height: 1.3;
        }
    }
    .intro-content {
        padding: 1em;
    }
    .posts-title, .about-title, .events-title {
        margin-bottom: 2rem;
    }

    .about, .events, .posts, .contact {
        padding: 2rem;
    }

    .event {
        width: 100%;
        .event-description {
            word-break: break-all;
        }
    }

    .post {
        width: 100%;
        flex-direction: column;
        margin-bottom: 1rem;
    }

    .post-square {
        width: 100%;
    }

    .contact {
        margin-top: 0;
        flex-direction: column;
    }

    .contact-details, .address {
        width: 100%;
        margin: 0;
    }

    .opening-times {
        flex-direction: column;
    }
}

@media (max-width: 960px) {
    .navigation {
        ul {
            li {
                font-size: 0.8rem;
            }
        }
    }
    .phone {
        font-size: 0.8rem;
    }
}
