/*------------------------------------*\
    Variables for colours, fonts, layout, etc
\*------------------------------------*/

$red: #FB5B5B;
$blue-dark: #06224A;
$blue-medium: #44C0FF;
$blue-light: #3BBFFF;
$grey-dark: #4A4A4A;
$grey-medium: #ABABAB;
$off-black: #101010;