.create-header {
    background-image: linear-gradient(135deg, rgba(188, 44, 95, 0.97), rgba(244, 90, 144, 0.97));
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 90px 25px;
    @include grid-media-query(palm) {
        height: 200px;
    }
    h1 {
        color: #fff;
    }
    p {
        color: rgba(255, 255, 255, 0.9)
    }
}

.create-content {
    padding-top: 70px;
    padding-bottom: 70px;
    .h2 {
        margin-bottom: 0;
    }
    .grid__item {
        vertical-align: middle;
    }
}

.create-name {
    .create-edit-name {
        font-size: 0.8rem;
        color: $off-black;
    }
}

.create-theme-name {
    text-transform: capitalize;
}

.create-preview-link {
    margin-left: 10px;
    font-weight: 400;
}

.create-buy {
    margin-right: 10px;
}
